GOOGLE_API_KEY=AIzaSyAAEIVsao-punU9kldPhq-I9U5z2wjBCg4
SUPABASE_URL=https://utpicuhjnhhpgevtoklb.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV0cGljdWhqbmhocGdldnRva2xiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjkxMTk2NjcsImV4cCI6MjA0NDY5NTY2N30.9pgvVUBAmpuVzKlKDzUOvSp_88ARQlUbuR2s6qTa0KA
SUPABASE_JWT_SECRET=